<label for="">Server Name</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!--<p>{{serverName}}</p>-->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>
<app-server *ngFor="let server of servers"></app-server>
<button class="btn-primary btn" (click)="showPassword = !showPassword">Display Details</button>
<p *ngIf="showPassword">Secret password = Tuna</p>
